
<section class="container-fluid footer-container" >
    <div class="row ">

    <section class="col-md-6 col-sm-12 d-flex justify-content-md-end justify-content-center px-md-5 py-5 py-md-0">
        <ul class="navbar-nav d-flex  justify-content-center fs-5">
            <li class="nav-item"><img class="px-3" src="assets/img/call.png" alt=""><a class="text-light" href="tel:1164385555">011 6438-5555</a></li>
            <li class="nav-item"><img class="px-3" src="assets/img/mail.png" alt=""><a class="text-light" href="mailto:joacobonvechi2272002@gmail.com">infobonvechiabogados.com.ar</a></li>
            <li class="nav-item"><img class="px-3" src="assets/img/location.png" alt=""><a class="text-light" href="https://maps.app.goo.gl/c9yZbjanponUKhYN8">Los Jacintos 749</a></li>
        </ul>
    </section>

    <section class="col-md-6 col-sm-12 d-flex  align-content-center px-md-5 py-5 justify-content-sm-center justify-content-md-start">
        <ul class="navbar-nav d-flex flex-row flex-wrap p-0 m-0 gap-5 align-content-center justify-content-center ">
            <li class="align-content-center"><a href="https://www.tiktok.com/@nestorbonvechi"><img src="assets/img/tiktok.png" alt=""></a></li>    
            <li class="align-content-center"><a href="https://x.com/estudiojbonvech"><img src="assets/img/icon-x.png" alt=""></a></li>
            <li class="align-content-center"><a href="https://www.instagram.com/nestorbonvechi/"><img src="assets/img/instagram.png" alt=""></a></li>
            <li class="align-content-center"><a href="https://www.facebook.com/estudioj.bonvechi"><img src="assets/img/facebook.png" alt=""></a></li>
            <li class="align-content-center"><a href="https://www.linkedin.com/in/nestor-e-bonvechi-83523817/"><img src="assets/img/linkedin.png" alt=""></a></li>
            <li><a href="https://joaquinbonvechi.netlify.app/"><img id="firma" src="assets/img/firma-joaquin.png" alt=""></a></li>
        </ul>

    </section>
    </div>

</section>