.footer-container{
    background-color: #121518;
}

.navbar-nav li a img{
    width:3rem;
    height:3rem;
}
.navbar-nav .nav-item img{
    width:4.5rem;
    height:auto;
}
#firma{
    width: auto;
    height: auto;
}
/* .footer-container{
    position: absolute;
    bottom: 0;
} */
