<section class="  header">

    <section class="d-flex justify-content-center flex-wrap">

        <section class="col-md-6 d-flex ">
            <h1 class="text-light align-content-center mx-5 my-4">ESTUDIO JURIDICO</h1>
        </section>

        <section class="col-md-6 col-sm-12 d-flex align-content-center justify-content-md-end justify-content-sm-center px-md-5 px-sm-0">
            <ul class="d-flex m-0 p-0">
                <li class="list-group-item align-content-center m-3"><a href=""><img  src="assets/img/icon-x.png" alt=""></a></li>
                <li class="list-group-item align-content-center m-3"><a href=""><img src="assets/img/instagram.png" alt=""></a></li>
                <li class="list-group-item align-content-center m-3"><a href=""><img src="assets/img/facebook.png" alt=""></a></li>
                <li class="list-group-item align-content-center m-3"><a href=""><img src="assets/img/linkedin.png" alt=""></a></li>
            </ul>
        </section>

    </section>

    <nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
        <div class="container-fluid d-flex justify-content-end">
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/img/nav-bar.png" alt="">
          </button>
          <div class="collapse navbar-collapse d-flex-md justify-content-evenly" id="navbarSupportedContent">
            <ul class="navbar-nav container-fluid d-flex justify-content-center gap-5">
              <li class="nav-item">
                <a class="nav-link text-light p-3 fs-4 d-flex justify-content-end" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light p-3 fs-4 d-flex justify-content-end" href="#">Quienes somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light p-3 fs-4 d-flex justify-content-end" href="#">Areas de Practica</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light p-3 fs-4 d-flex justify-content-end" href="#">Defensas Penales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light p-3 fs-4 d-flex justify-content-end" href="#">Ubicacion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light p-3 fs-4 d-flex justify-content-end" href="#">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

</section>