<div class="container">
    <h2 class="fs-1 fw-semibold text-center my-5">Nuestra ubicacion</h2>
</div>

<section class="d-flex container justify-content-evenly align-items-center flex-wrap my-5 p-0">

    <div class="col-lg-6 col-md-12 mt-5 text-center container-maps">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.5399913356455!2d-58.79186512353752!3d-34.43843804878955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9f27cc41f7df%3A0xcf48d3ca0ba15e30!2sESTUDIO%20JURIDICO%20BONVECHI%20%26%20ASOC.!5e0!3m2!1ses-419!2sar!4v1740423784498!5m2!1ses-419!2sar"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>

    <div class="col-lg-6 col-md-12 text-center">
        <h3 class="fs-4 text-secondary fw-semibold">Estudio Juridico</h3>
        <img src="/assets/img/ubicacion.svg" alt="" class="estudio">
    </div>

</section>

<section class="container d-flex justify-content-evenly flex-wrap p-0 redes">
    <app-whatsapp-button></app-whatsapp-button>

    <a class="btn-tiktok p-3 d-flex flex-column justify-content-center align-items-center link-offset-2 link-underline link-underline-opacity-0 my-5 my-xl-0" href="https://www.tiktok.com/@nestorbonvechi">
        <img src="/assets/img/tiktok-btn.svg" alt="">
        <p class="fs-5 text-light m-0">&#64;nestorbonvechi</p>
    </a>
</section>