<div class="container">
    <h2 class="text-center fs-1 fw-semibold my-5">Contacto</h2>
</div>

<section class="container my-5 d-flex justify-content-around flex-row flex-wrap-reverse">

    <div class="container-cards col-lg-6 col-md-12 p-4">

        <div class="card d-flex flex-row py-3">

            <div class="d-flex justify-content-center align-items-center">
                <img src="/assets/img/location.png" alt="" class="p-3">
            </div>

            <div class="d-flex flex-column justify-content-center">
                <h3 class="fs-5 title-card p-0">Direccion</h3>
                <a href="" class="fs-5 text-light p-0">
                    Los Jacintos 749, Del Viso Porvincia de Buenos Aires
                </a>
            </div>

        </div>

        <div class="card d-flex flex-row py-3 my-4">

            <div class="d-flex justify-content-center align-items-center">
                <img src="/assets/img/call.png" alt="" class="p-3">
            </div>

            <div class="d-flex flex-column justify-content-center">
                <h3 class="fs-5 title-card p-0">Telefono</h3>
                <p class="fs-5 text-light p-0">011 6438-5555 <br>011 7615 7288</p>
            </div>

        </div>

        <div class="card d-flex flex-row py-3">

            <div class="d-flex justify-content-center align-items-center">
                <img src="/assets/img/mail.png" alt="" class="p-3">
            </div>

            <div class="d-flex flex-column justify-content-center">
                <h3 class="fs-5 title-card p-0">E-mail</h3>
                <a href="" class="fs-5 text-light p-0">
                    info&#64;bonvechiabogados.com.ar
                </a>
                <a href="" class="fs-5 text-light p-0">
                    nestor&#64;bonvechiabogados.com.ar</a>
            </div>

        </div>

    </div>

    <div class="col-lg-6 col-md-12 p-4">
        <form action="https://formsubmit.co/joacobonvechi2272002@gmail.com" method="POST">
            <input type="text" name="Nombre" class="form-control p-2 fs-5" placeholder="Nombre">

            <input type="number" name="Telefono" class="form-control my-3 p-2 fs-5" placeholder="Telefono">

            <input type="email" name="Email" class="form-control mb-3 p-2 fs-5" placeholder="E-mail">

            <div class="mb-3">
                <textarea class="p-2 fs-5" name="Mensaje" style="height:250px" placeholder="Mensaje"></textarea>
            </div>

            <button class="btn leer-mas py-2 px-5 fs-5" type="submit">Enviar</button>
        </form>

    </div>

</section>

<section class="container d-flex justify-content-evenly flex-wrap p-0 redes my-5 py-5">
    <app-whatsapp-button></app-whatsapp-button>

    <a class="btn-tiktok p-3 d-flex flex-column justify-content-center align-items-center link-offset-2 link-underline link-underline-opacity-0 my-5 my-xl-0" href="https://www.tiktok.com/@nestorbonvechi">
        <img src="/assets/img/tiktok-btn.svg" alt="">
        <p class="fs-5 text-light m-0">&#64;nestorbonvechi</p>
    </a>
</section>