.button-ws{
    background: linear-gradient(180deg, #121518, #121518, #121518, #121518, #121518, #121518, #15181a, #1b1d1f, #202223, #262728, #2c2d2d, #323232);
    border: 7px solid #aa9166;
    border-radius: 0;
}
#ws-icon{
    width: 8rem;
}
#esposas-icon{
    height: auto;
}

@media (max-width: 768px) {
    #esposas-icon{
      content: url("/assets/img/urgencias-700.svg");
      width: calc(80vw - 14px) ;
    }

    .button-ws{
        width: 80vw ;
    }

    .text-ws{
        padding: 0 !important; 
    } 
  }

@media (max-width:576px){
    #esposas-icon{
        width: calc(100vw - 14px) ;
      }
      .button-ws{
        width: 100vw ;
    }
}

  