<div class="container-fluid p-0">
    <div #testimonialCarousel id="testimonialCarousel" class="carousel">
        <div class="carousel-inner align-items-center">


            <div class="carousel-item active">
                <div class="card py-4">

                    <div class="d-flex justify-content-center  flex-wrap">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                    </div>


                    <div class="card-body text-center">
                        <p class="card-text text-light fs-5 px-2">Excelente estudio de abogados con amplia expetiencia. Abarcan las especialidades familia, comercial y penal</p>
                        <div class="d-flex align-items-center justify-content-center pt-4">
                            <div>
                                <h5 class="card-title fw-bold fs-3">Pablo Mernet</h5>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="carousel-item">
                <div class="card py-4">

                    <div class="d-flex justify-content-center">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                    </div>


                    <div class="card-body text-center">
                        <p class="card-text text-light fs-5 px-2">Excelente la atención.  Supo aclarar la situación.  Honorarios justos . Lo recomiendo 100%</p>
                        <div class="d-flex align-items-center justify-content-center pt-4">
                            <div>
                                <h5 class="card-title fw-bold fs-3">Aldo Antunia</h5>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="carousel-item">
                <div class="card py-4">

                    <div class="d-flex justify-content-center">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                    </div>


                    <div class="card-body text-center">
                        <p class="card-text text-light fs-5 px-2">El Dr Nestor Bombechi,x sobre todas las cosas es un profesional de confianza en su totalidad</p>
                        <div class="d-flex align-items-center justify-content-center pt-4">
                            <div>
                                <h5 class="card-title fw-bold fs-3">Agustin Dapice</h5>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="carousel-item">
                <div class="card py-4">

                    <div class="d-flex justify-content-center">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                    </div>


                    <div class="card-body text-center">
                        <p class="card-text text-light fs-5 px-2">Excelente atención.</p>
                        <div class="d-flex align-items-center justify-content-center pt-4">
                            <div>
                                <h5 class="card-title fw-bold fs-3">Pablo Matias Sissener</h5>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="carousel-item">
                <div class="card py-4">

                    <div class="d-flex justify-content-center">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                    </div>


                    <div class="card-body text-center">
                        <p class="card-text text-light fs-5 px-2">Excelente abogado  super recomendable.
                        </p>
                        <div class="d-flex align-items-center justify-content-center pt-4">
                            <div>
                                <h5 class="card-title fw-bold fs-3">Andrea Sanchez</h5>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="carousel-item">
                <div class="card py-4">

                    <div class="d-flex justify-content-center">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                        <img class="star" src="/assets/img/star-complete.svg" alt="">
                    </div>


                    <div class="card-body text-center">
                        <p class="card-text text-light fs-5 px-2">Excelente estudio de abogados con amplia expetiencia. Abarcan las especialidades familia, comercial y penal</p>
                        <div class="d-flex align-items-center justify-content-center pt-4">
                            <div>
                                <h5 class="card-title fw-bold fs-3">Pablo Mernet</h5>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>