<!-- SECCION AREAS IN HOME -->

<section class="container mb-5">
    <h2 class="text-center mx-md-5 mx-0 fw-semibold fs-1 mb-5">Nuestras Areas de Practica</h2>
  
    <div class="container-fluid d-flex justify-content-center align-items-center gap-5 flex-wrap ">
  
      <div class="card-areas flex-column">
        <div class="p-5 d-flex justify-content-center">
            <img src="/assets/img/esposas.svg" alt="" id="">
          </div>
      
          <div class="section-card-areas p-5 d-flex justify-content-center align-items-center flex-column">
            <h3 class="text-card fs-2 fw-semibold mb-4">Defensa Penal</h3>
            <button class="btn leer-mas py-2 px-4 fs-5">Leer Mas</button>
          </div>
      </div>

      <div class="card-areas flex-column">
        <div class="p-5 d-flex justify-content-center">
            <img src="/assets/img/Laboral.svg" alt="" id="">
          </div>
      
          <div class="section-card-areas p-5 d-flex justify-content-center align-items-center flex-column">
            <h3 class="text-card fs-2 fw-semibold mb-4">Derecho Laboral</h3>
            <button class="btn leer-mas py-2 px-4 fs-5">Leer Mas</button>
          </div>
      </div>

      <div class="card-areas flex-column">
        <div class="p-5 d-flex justify-content-center">
            <img src="/assets/img/financiero.svg" alt="" id="">
          </div>
      
          <div class="section-card-areas p-5 d-flex justify-content-center align-items-center flex-column">
            <h3 class="text-card fs-2 fw-semibold mb-4">Derecho Financiero</h3>
            <button class="btn leer-mas py-2 px-4 fs-5">Leer Mas</button>
          </div>
      </div>

      <div class="card-areas flex-column">
        <div class="p-5 d-flex justify-content-center">
            <img src="/assets/img/consumidor.svg" alt="" id="">
          </div>
      
          <div class="section-card-areas py-5 d-flex justify-content-center align-items-center flex-column">
            <h3 class="text-card fs-2 fw-semibold mb-4 text-center">Defensa al Consumidor</h3>
            <button class="btn leer-mas py-2 px-4 fs-5">Leer Mas</button>
          </div>
      </div>
  
    </div>
  
  </section>
  
