<section class="my-5">
    <app-areas></app-areas>
</section>

<section class="container">
    <h2 class="text-center fw-semibold fs-1">Mas Areas</h2>

    <div class="d-flex col-lg-6 col-md-12">
        <ul class="">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <img src="/assets/img/areas-img.png" alt="" class="col-lg-6 col-md-12 img-areas">

    </div>

</section>
