<div class="container-fluid banner py-5">
    <div class="container d-flex  align-items-center flex-column py-3">
        <h2 class="text-center fs-1 fst-italic fw-semibold">Areas de Practica</h2>
        <div class="bar mt-2"></div>
    </div>
</div>

<section class="my-5">
    <app-areas></app-areas>
</section>

<section class="container my-5">
    <h2 class="text-center fw-semibold fs-1">Mas Areas</h2>

    <div class="d-flex align-items-center justify-content-center my-5 flex-wrap">

        <ul class="fs-4 col-lg-6 col-md-12 justify-content-center mb-5">
            <li>Derecho Laboral y Seguridad</li>
            <li>Social</li>
            <li>Defensa del Consumidor</li>
            <li>Derecho Societario</li>
            <li>Derecho Comercial</li>
            <li>Derecho Migratorio</li>
            <li>Derecho de Familia</li>
            <li>Derecho Financiero y Bancario</li>
            <li>Derecho Penal </li>
            <li>Derecho Civil</li>
            <li>Daños y Perjuicios</li>
            <li>Derecho Ambiental</li>
            <li>Habeas Data</li>
            <li>Habeas Corpus</li>
            <li>Amparos</li>
            <li>Drogas - Estupefacientes - Tenencia, Transporte, Comercializacion</li>
            <li>Defensas Penales. Representacion como Particular Damnificado o Querellante</li>
        </ul>

        <div class="col-lg-6 col-md-12 text-center">
            <img src="/assets/img/areas-img.png" alt="" class="mb-5 img-areas">
        </div>
        

    </div>

</section>
