<div class="container my-5">
    <h2 class="mx-md-5 mb-3 mx-sm-1 fw-semibold fs-1 text-center">Defensas Penales</h2>
</div>

<section class="container d-flex flex-row flex-wrap justify-content-evenly mb-5 p-0 align-items-center ">

    <div class="col-lg-7 col-md-12  section-header text-center px-0 px-md-5 ">
        <p class="mx-md-2 fs-5 text-start text-secondary-emphasis px-4 px-md-5">Ante la Acusación o Imputación de un
            Delito, o ante
            la contingencia de convertirse en Víctima de uno de ellos, No Hay Tiempo. La Desesperación prima y las horas
            se diluyen en un Estado de Ansiedad e Incertidumbre, que solo se atempera y se soluciona con la Contención
            Jurídica y Acción Inmediata del Abogado, La Libertad Sabemos que es el bien jurídico más sagrado luego de la
            vida de un ser humano, y dentro de los derechos fundamentales y constitucionales velamos por hacer
            prevalecer ante todo la Libertad de nuestro cliente durante el arduo y extenso proceso penal. Asimismo como
            abogados penalistas , representamos los intereses de nuestros clientes, tanto desde la defensa como desde el
            rol de querellante o particular damnificado. <br> <br>
            Lo invitamos a descubrirnos, aquí estamos, somos Un Cuerpo de Abogados Especializados en el Derecho Penal en
            todas sus ramas, a su disposición las 24 hs. del día. Siempre haciendo Honor a nuestro lema "Semper Fidelis"
            , es decir, Siempre Fiel, a Nuestro Cliente. A continuación una breve descripción de nuestros servicios en
            esta rama del Derecho.
        </p>
    </div>

    <img src="/assets/img/penales1.svg" alt="" class="col-lg-4 col-md-12 mt-lg-0 my-3 img-altas" id="penales">

</section>

<section class="container d-flex flex-row flex-wrap-reverse justify-content-evenly mb-5 p-0 align-items-center ">

    <img src="/assets/img/penales2.svg" alt="" class="col-lg-4 col-md-12 mt-lg-0 my-3" id="penales">

    <div class="col-lg-7 col-md-12  section-header text-center px-0 px-md-5 ">
        <p class="mx-md-2 fs-5 text-start text-secondary-emphasis px-4 px-md-5">Nos distinguimos, en la inteligencia de
            tratar de ejercer una Abogacía Preventiva en determinados ilícitos, como así el, Asesoramiento y Aspectos
            relativos a la Prevención y Seguridad.
            No obstante, entendemos, que la Abogacía, no es solo cumplir con el proceso ritualista de la defensa, sino
            fundamentalmente la Contención, Análisis de la Situación, y Acompañamiento del cliente en las distintas
            etapas procesales, de las cuales subrayamos las mas  importantes a nuestro criterio:
        </p>
        <ul class="mx-md-2 fs-5 text-start text-secondary-emphasis mx-4 mx-md-5">
            <li>En estado de Libertad del Cliente</li>
            <li>Al momento de la Detención</li>
            <li>Durante la duración del Proceso</li>
            <li>Post Sentencia Judicial</li>
            <li>Asistencia y Asesoramiento Familiar</li>
        </ul>
        <p class="mx-md-2 fs-5 text-start text-secondary-emphasis px-4 px-md-5">
            Como Así también evaluación del Caso en conjunto, ponderación de sus costos y honorarios y facilidad de pago
            teniendo en cuenta la situación Socio Ambiental de la persona.
        </p>


    </div>

</section>

<section class="container d-flex flex-row flex-wrap justify-content-evenly mb-5 p-0 align-items-center ">

    <div class="col-lg-7 col-md-12  section-header text-center px-0 px-md-5 ">

        <h3 class="mx-md-2 fs-5 text-start text-secondary-emphasis px-4 px-md-5 title fw-semibold">JURISDICCION Y
            COMPETENCIA</h3>
        <br>
        <p class="mx-md-2 fs-5 text-start text-secondary-emphasis px-4 px-md-5">Ante la Acusación o Imputación de un
            Dentro de las Jurisdicciones Detalladas, Nuestro Equipo de Juristas, Actúa, se Traslada y Ejerce el Derecho
            Penal cuando y donde se Nos es Requerido..
        </p>
        <ul class="mx-md-2 fs-5 text-start text-secondary-emphasis px-4 px-md-5">
            <li><b>C.A.B.A:</b>(Cuidad Autònoma de Buenos Aires):
                Ejercemos en todo el Ambito de la Ciudad Autónoma de Buenos Aires, tanto en Tribunales Federales,
                Criminales y Correccionales, y en la Justicia Contravencional.
            </li>
            <br>
            <li><b>Provincia de Buenos Aires:</b>Ejercemos en todo el territorio de la provincia, Si bien nuestra
                atención al cliente es en nuestro estudio jurìdico sito en la localidad de Del Viso, partido de Del
                Pilar, y en los ámbitos de la Justicia Penal, Correccional y Federal.</li>
            <br>
            <li><b>Territorio Nacional:</b>Ejercemos en todo el territorio Nacional, en lo concerniente a la Justicia
                Penal Federal.</li>
        </ul>
    </div>

    <img src="/assets/img/penales3.svg" alt="" class="col-lg-4 col-md-12 mt-lg-0 my-3" id="penales">

</section>

<section class="container mb-5 p-0">

    <div class="section-header text-center px-0 px-md-5 ">

        <h3 class="mx-md-2 fs-5 text-start text-secondary-emphasis px-4 px-md-5 title fw-semibold">ASISTENCIA INICIAL
        </h3>
        <br>
        <p class="mx-md-2 fs-5 text-start text-secondary-emphasis px-4 px-md-5">Enfocando, no solo a la Problemática del
            Injusto Penal, sino a las Necesidades del Cliente y su entorno familiar, las siguientes son algunas de las
            Acciones Ofrecidas por Nuestros Abogados. <br><br>

            <b>Asistencia en las Comisarias:</b>
            Garantizar el ejercicio del derecho que tiene todo individuo de tomar contacto y/o requerir un abogado para
            asistirlo en la Comisaria, independientemente del estado de comunciado o incomunicado. <br><br>

            <b>Procuracion de Expedientes:</b>
            Servicio prestado ante UFIs como juzgados de instrucciòn y/u otras dependencias judiciales donde se
            encuentren las actuaciones o causas seguidas en contra del requirente. <br><br>


            <b>PROBATION</b> (Suspensión de Juicio a Prueba)<b> - JUICIOS ABREVIADOS</b>
        </p>
    </div>

</section>

<section class="container d-flex flex-row flex-wrap justify-content-evenly mb-5 p-0 align-items-center ">

    <div class="col-lg-7 col-md-12  section-header text-center px-0 px-md-5 ">

        <h3 class="mx-md-2 fs-5 text-start text-secondary-emphasis px-4 px-md-5 title fw-semibold">ASISTENCIA POSTERIOR
            A LA SENTENCIA JUDICIAL</h3>
        <br>
        <p class="mx-md-2 fs-5 text-start text-secondary-emphasis px-4 px-md-5">
            <b>Apelaciones:</b><br>
            Interposición de apelaciones tanto en los juzgados de primera instancia como así ante las cámaras de
            apelaciones respectivas. <br><br>

            <b>Revision de Causas:</b><br>
            Revisión de causas archivadas que tal vez puedan llega r a revertir la situación del condenado ante la
            posible detección de nulidades procesales y hechos nuevos que ameriten la reapertura. <br><br>

            <b>Transalados de Detenidos:</b><br>
            Servicio que se gestiona ante las autoridades judiciales tanto en comisarías como entre las unidades
            carcelarias en todo el territorio nacional en interés del procesado/condenado. <br><br>

            <b>Salidas Transitorias:</b><br>
            Tramitación y Procuración de salidas transitorias durante el periodo de condena en los juzgados de ejecución
            penal.
        </p>

    </div>

    <img src="/assets/img/penales4.svg" alt="" class="col-lg-4 col-md-12 mt-lg-0 my-3 img-altas" id="penales">

</section>

<section class="container d-flex flex-row flex-wrap justify-content-evenly mb-5 p-0 align-items-center ">

    <div class="section-header text-center px-0 px-md-5 ">

        <p class="mx-md-2 fs-5 text-start text-secondary-emphasis px-4 px-md-5">
            <b>Libertad Condicional:</b><br>
            Tramitación y procuración de libertad condicional a quienes se encuentran con los requisitos temporales
            legales necesarios para dicho beneficio, logrando de esta manera una anticipación de la libertad
            ambulatoria. <br><br>

            <b>Refundicion de Prontuarios:</b><br>
            Tramitación en el Registro Nacional de Reincidencia de Antecedentes Penales Indebidos, erróneos,
            desactualizados o perimidos por sentencias condenatorias u otros antecedentes que perjudiquen el buen nombre
            y honor del requirente. <br><br>

            <b>Asistencias a Indagatorias Judiciales:</b><br>
            Acompañamiento al imputado, asesorándolo y asistiéndolo ante la citación o comparecimiento a indagatoria
            ante fiscalías o juzgados penales requirentes. <br><br>

            <b>Excarcelacion:</b><br>
            Interposición del escrito judicial a fin de recuperar la libertad mientras se encuentra detenido y en
            proceso judicial.
        </p>

    </div>

</section>

<section class="container d-flex flex-row flex-wrap-reverse justify-content-evenly mb-5 p-0 align-items-center ">

    <img src="/assets/img/penales5.svg" alt="" class="col-lg-4 col-md-12 mt-lg-0 my-3 img-altas" id="penales">

    <div class="col-lg-7 col-md-12  section-header text-center px-0 px-md-5 ">
        <p class="mx-md-2 fs-5 text-start text-secondary-emphasis px-4 px-md-5">
            <b>Eximicion de Prision:</b><br>
            Interposición del escrito judicial en estado de libertad y ante el temor de poder ser detenido por la
            imputación de algún delito. Este instituto se interpone en forma previa judicialmente a los efectos de
            evitar la encarcelación. <br><br>

            <b>Defensas y Juicios Orales:</b><br>
            Producción de la prueba en el juicio, preparación de la defensa y alegatos de inicio y cierre en el debate o
            juicio oral.<br><br>

            <b>Habeas Corpus:</b><br>
            Planteo y presentación de pedido de "Habeas Corpus" ante diferentes situaciones de peligro de la libertad
            ambulatoria y/o acoso policial. <br><br>

            <b>Juicio por Jurados:</b><br>
            Defensas ante los próximos e inminentes procesos de Juicios por Jurados en las jurisdicciones que vayan
            incorporando este formalidad.
        </p>
    </div>

</section>