.img-nestor{
    border:  solid 5px #000000;
    border-radius: 0;
    width: 350px;
}

h2 {
    margin: 0;
    position: relative;
    white-space: nowrap;
    z-index: 1;
}

 h2::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 7px;
    left: 0;
    top: 21px;
    background: transparent;
    border-top: 1px solid #aa9166;
    border-bottom: 1px solid #aa9166;
    z-index: -1;
}

 h2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 7px;
    left: 0;
    bottom: 20px;
    background: transparent;
    border-top: 1px solid #aa9166;
    border-bottom: 1px solid #aa9166;
    z-index: -1;
}
#foto-estudio{
    height: 20rem;
}
.btn-tiktok{
    background: linear-gradient(180deg, #121518, #121518, #121518, #121518, #121518, #121518, #15181a, #1b1d1f, #202223, #262728, #2c2d2d, #323232);
    border: 7px solid #aa9166;
    border-radius: 0;
}
.redes{
    margin-top:7rem ;
    margin-bottom:7rem ;
}