<section class="container d-flex justify-content-evenly my-5 flex-wrap-reverse flex-row align-items-center">

    <img src="/assets/img/nestor-img.svg" alt="" class="img-nestor col-lg-6 col-md-12">

    <div class="col-lg-6 col-md-12 mb-md-3">
        <h2 class="fw-semibold fs-1 text-center">Dr. Nestor Bonvechi</h2>
        <p class="fs-5 text-start text-secondary-emphasis">Somos un Estudio Jurídico conformado por abogados altamente
            capacitados y con experiencia tanto en el campo
            del Derecho Público como en el Derecho Privado. Con oficinas en la localidad de Del Viso, partido de Del
            Pilar, y nuestra nueva sucursal en la zona Oeste en la localidad de Parque San Martin, partido de Merlo, a
            partir del 26/02/2024, sita en M. MURRAY 691, Parque San Martin, partido de Merlo, Prov. de Bs. As.
            Intervenimos en procesos, ya sea en la Provincia de Bs. As., C.A.B.A. (Ciudad Autónoma de Buenos Aires) y la
            Prov. de Entre Ríos.</p>
    </div>

</section>





<section class="container d-flex flex-row flex-wrap-reverse justify-content-evenly mb-0 pb-0 pt-5 align-items-center ">

    <img src="/assets/img/estudio-juridico-acerca.svg" alt="" class="col-lg-4 col-md-12 mt-lg-0 p-3" id="foto-estudio">

    <div class="col-lg-8 col-md-12  section-header text-center px-5">
        <h2 class="mx-md-5 mb-3 mx-sm-1 fw-semibold fs-1">Acerca</h2>
        <p class="mx-md-2 fs-5 text-start text-secondary-emphasis">Somos un Estudio Jurídico conformado por abogados
            altamente capacitados y con experiencia tanto en el campo del Derecho Público como en el Derecho Privado.-
            Con oficinas en la localidad de Del Viso, partido de Del Pilar y nuestra nueva sucursal en la zona Oeste en
            la localidad de Parque San Martin , partido de Merlo a partir del 26/02/2024, sita en M. MURRAY 691, Parque
            San Martin, partido de Merlo, Prov. de Bs. As.  Intervenimos en procesos ya sea en la Provincia de Bs. As.,
            C.A.B.A. (Ciudad Autonoma de Buenos Aires), y la Prov. de Entre Ríos.
            Nuestra misión es ofrecer a nuestros clientes la elaboración de planes de acción integrales que les permitan
            obtener resultados exitosos. Tenemos como objetivo reconocer las necesidades legales de nuestros clientes;
            esto
            hace posible que anticipemos conflictos y logremos protegerlos con soluciones creativas y eficaces.</p>
    </div>
</section>

<div class="container mt-0 pt-0 mb-5">
    <p class="mx-md-2 fs-5 text-start text-secondary-emphasis px-3">
        Ante el requerimiento, podemos brindar la posibilidad de entrevistas en el domicilio y/o por Medios Virtuales.
        Tenemos un Excelente manejo del Idioma Inglés, por lo tanto actuamos en el país y en el exterior.

        Utilizamos la ultima tecnología en cada paso del proceso, tendiendo al expediente digital.
        Comunicaciones VOIP, Chat, emails, sms, Whatsapp, Telegram, Signal o Facetime, etc. son herramientas de todos
        los días.
    </p>
</div>



<section class="container d-flex justify-content-evenly flex-wrap p-0 redes">
    <app-whatsapp-button></app-whatsapp-button>

    <a class="btn-tiktok p-3 d-flex flex-column justify-content-center align-items-center link-offset-2 link-underline link-underline-opacity-0 my-5 my-xl-0" href="https://www.tiktok.com/@nestorbonvechi">
        <img src="/assets/img/tiktok-btn.svg" alt="">
        <p class="fs-5 text-light m-0">&#64;nestorbonvechi</p>
    </a>
</section>